In [2]:
import pandas as pd
import boto3
import psycopg2
from sqlalchemy import create_engine

In [5]:
# Fetch the data

s3 = boto3.client('s3', aws_access_key_id='AKIAZZ33YB65GZIN656A',
                  aws_secret_access_key='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')
bucket_name = 'mindex-data-analytics-code-challenge'
file_names = ['bengals.csv', 'boyd_receiving.csv', 'chase_receiving.csv', 'higgins_receiving.csv']

for file in file_names:
    s3.download_file(bucket_name, file, file)

bengals_df = pd.read_csv('bengals.csv')
boyd_df = pd.read_csv('boyd_receiving.csv')
chase_df = pd.read_csv('chase_receiving.csv')
higgins_df = pd.read_csv('higgins_receiving.csv')

print("Bengals DataFrame:")
print(bengals_df.head(), "\n")

print("Boyd Receiving DataFrame:")
print(boyd_df.head(), "\n")

print("Chase Receiving DataFrame:")
print(chase_df.head(), "\n")

print("Higgins Receiving DataFrame:")
print(higgins_df.head(), "\n")

print("Bengals Full DataFrame:")
print(bengals_df)

Bengals DataFrame:
   Week Opponent Location  Result
0  PRE1       TB     Away     1.0
1  PRE2      WSH     Away     0.0
2  PRE3      MIA     Home     0.0
3  REG1      MIN     Home     1.0
4  REG2      CHI     Away     0.0

Boyd Receiving DataFrame:
   Week  Yards  TD
0  REG1     32   0
1  REG2     73   0
2  REG3     36   1
3  REG4    118   0
4  REG5     24   0

Chase Receiving DataFrame:
   Week  Yards  TD
0  REG1    101   1
1  REG2     54   1
2  REG3     65   2
3  REG4     77   0
4  REG5    159   1

Higgins Receiving DataFrame:
   Week  Yards  TD
0  REG1     58   1
1  REG2     60   1
2  REG5     32   0
3  REG6     44   0
4  REG7     62   0

Bengals Full DataFrame:
     Week Opponent Location  Result
0    PRE1       TB     Away     1.0
1    PRE2      WSH     Away     0.0
2    PRE3      MIA     Home     0.0
3    REG1      MIN     Home     1.0
4    REG2      CHI     Away     0.0
5    REG3      PIT     Away     1.0
6    REG4      JAX     Home     1.0
7    REG5       GB     Home     0.0
8    REG6      DET     Away     1.0
9    REG7      BAL     Away     1.0
10   REG8      NYJ     Away     0.0
11   REG9      CLE     Home     0.0
12  REG10      NaN      NaN     NaN
13  REG11       LV     Away     1.0
14  REG12      PIT     Home     1.0
15  REG13      LAC     Home     0.0
16  REG14       SF     Home     0.0
17  REG15      DEN     Away     1.0
18  REG16      BAL     Home     1.0
19  REG17       KC     Home     1.0
20  REG18      CLE     Away     0.0
21  POST1       LV     Home     1.0
22  POST2      TEN     Away     1.0
23  POST3       KC     Away     1.0
24  POST4      LAR  Neutral     0.0

In [7]:
# Merge the Bengals data with each of the receivers' data on the 'Week' column
combined_df = bengals_df \
    .merge(boyd_df.rename(columns={'Yards': 'Boyd_Yards', 'TD': 'Boyd_TD'}), on='Week', how='left') \
    .merge(chase_df.rename(columns={'Yards': 'Chase_Yards', 'TD': 'Chase_TD'}), on='Week', how='left') \
    .merge(higgins_df.rename(columns={'Yards': 'Higgins_Yards', 'TD': 'Higgins_TD'}), on='Week', how='left')

# Convert Yards and TDs to integers, Update result field to use 'Win' and 'Loss'
combined_df['Result'] = combined_df['Result'].map({1.0: 'Win', 0.0: 'Loss'})
combined_df['Boyd_Yards'] = combined_df['Boyd_Yards'].fillna(0).astype(int)
combined_df['Boyd_TD'] = combined_df['Boyd_TD'].fillna(0).astype(int)
combined_df['Chase_Yards'] = combined_df['Chase_Yards'].fillna(0).astype(int)
combined_df['Chase_TD'] = combined_df['Chase_TD'].fillna(0).astype(int)
combined_df['Higgins_Yards'] = combined_df['Higgins_Yards'].fillna(0).astype(int)
combined_df['Higgins_TD'] = combined_df['Higgins_TD'].fillna(0).astype(int)

# Display the combined dataframe
print(combined_df)

     Week Opponent Location Result  Boyd_Yards  Boyd_TD  Chase_Yards  \
0    PRE1       TB     Away    Win           0        0            0
1    PRE2      WSH     Away   Loss           0        0            0
2    PRE3      MIA     Home   Loss           0        0            0
3    REG1      MIN     Home    Win          32        0          101
4    REG2      CHI     Away   Loss          73        0           54
5    REG3      PIT     Away    Win          36        1           65
6    REG4      JAX     Home    Win         118        0           77
7    REG5       GB     Home   Loss          24        0          159
8    REG6      DET     Away    Win           7        0           97
9    REG7      BAL     Away    Win          39        0          201
10   REG8      NYJ     Away   Loss          69        1           32
11   REG9      CLE     Home   Loss          11        0           49
12  REG10      NaN      NaN    NaN           0        0            0
13  REG11       LV     Away    Win          49        0           32
14  REG12      PIT     Home    Win          13        0           39
15  REG13      LAC     Home   Loss          85        0           52
16  REG14       SF     Home   Loss          55        0           77
17  REG15      DEN     Away    Win          96        1            3
18  REG16      BAL     Home    Win          85        1          125
19  REG17       KC     Home    Win          36        1          266
20  REG18      CLE     Away   Loss           0        0           26
21  POST1       LV     Home    Win          26        1          116
22  POST2      TEN     Away    Win          17        0          109
23  POST3       KC     Away    Win          19        0           54
24  POST4      LAR  Neutral   Loss          48        0           89

    Chase_TD  Higgins_Yards  Higgins_TD
0          0              0           0
1          0              0           0
2          0              0           0
3          1             58           1
4          1             60           1
5          2              0           0
6          0              0           0
7          1             32           0
8          0             44           0
9          1             62           0
10         1             97           0
11         0             78           0
12         0              0           0
13         1             15           0
14         0            114           1
15         0            138           1
16         2            114           0
17         0             23           0
18         0            194           2
19         3             62           0
20         0              0           0
21         0             10           0
22         0             96           0
23         1            103           0
24         0            100           2

In [10]:
# Write dataframe to postgres DB
db_username = 'michael_paquette'
db_password = 'pichaelmaquette'
db_host = 'ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com'
db_name = 'postgres'

engine = create_engine(f'postgresql+psycopg2://{db_username}:{db_password}@{db_host}/{db_name}')
combined_df.to_sql(name='michael_paquette', con=engine, if_exists='replace', index=False)

25